<%= render @food %>

<div class="food-show-buttons test">
  <%= button_to "Edit this food", edit_food_path(@food) %>
  <%= button_to "Back to foods", foods_path %>

  <%= button_to "Delete", @food, method: :delete %>
</div>
